hq:
  protocol: 'http'
  host: localhost
  port: 5984
  primary: edrs_hq
  username: admin
  password: password
dashboard:
  protocol: 'http'
  host: localhost
  port: 5984
  primary: edrs_dashboard
  username: admin
  password: password